<template>
  <div>
    <v-row>
      <v-col cols="12">
        <v-carousel hide-delimiters cycle>
          <v-carousel-item
            class="slider1"
            v-for="(item, i) in items"
            :key="i"
            :src="item.src"
          ></v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <div class="sec-upd">
          <h2>Need Ice Today?</h2>
          <v-btn class="primary"> Press me </v-btn>
          <h3>Is Your comapny Located in WestWaharaf Fishri</h3>
        </div>
      </v-col>
    </v-row>

    <div class="child-1 d-flex">
      <v-row>
        <v-col cols="6">
          <v-sheet color="white  pa-8" elevation="5" width="100%">
            <div class="services">
              <h2>Our Services</h2>
              <p>
                We do much more than just manufacture ice. Our top of the line
                distribution system ensures ice is always stored and shipped in
                the best condition, making sure the consumer receives the
                product exactly as it was intended to be at the point of sale.
                Our cutting edge logistics and distribution system make sure the
                ice gets where it’s going, before you even know you need it. We
                are also proud to offer Ice Factory (an in store
                self-manufacturing system), and disaster relief to support the
                communities we live and work in. When it comes right down to it,
                our variety and flexibility of services, from warehouse, to in
                store manufacturing with Ice Factory, to direct delivery means
                Reddy Ice is here to serve your every need!
              </p>
            </div>
          </v-sheet>
        </v-col>
        <!-- Picture -->
        <v-col cols="6">
          <div>
            <v-img
              src="https://www.reddyice.com/theme/frontend/images/our-services-banner.jpg"
            ></v-img>
          </div>
        </v-col>
        <!-- Picture End -->
      </v-row>
    </div>


    <div class="child-2 d-flex">
      <v-sheet color="blue" elevation="5" height="50%" width="50%">
        <div>
          <h1>Need ice today? Find a location near you</h1>
          <p></p>
          <v-img
            src="https://www.reddyice.com/theme/frontend/images/our-services-banner.jpg"
          ></v-img>
        </div>
      </v-sheet>
      <v-sheet color="yellow" elevation="5" height="50%" width="50%">
        <div>
          <v-img
            src="https://careers.reddyice.com/media/2018/3/c6d45a53-04f3-4491-861e-72ce4c6e4353-1522159776758.jpg"
            max-height="650"
          ></v-img>
        </div>
      </v-sheet>
    </div>

    <div>
      <v-row>
        <v-col class="mx-auto" cols="2">
          <h1>Abouts Us</h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="mx-auto" cols="4">
          <h3>WE are HazaraIce Deop</h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="mx-auto" cols="8">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
            consectetur, corrupti, ex natus laborum voluptas totam magni
            blanditiis in perspiciatis delectus reiciendis nemo! Aliquam impedit
            porro eligendi dignissimos inventore magnam.
          </p>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <div class="worker-pic">
            <v-sheet
              color="white"
              elevation="7"
              height="100%"
              outlined
              width="100%"
              ><v-img
                src="https://www.reddyice.com/theme/frontend/images/about-img.jpg"
                max-width="100%"
              ></v-img
            ></v-sheet>
          </div>
        </v-col>
      </v-row>
    </div>

    <!-- <div class="second-parent">
      <div class="sec-div-textarea">
        <h4>ABOUT</h4>
        <h2>We are Reddy Ice</h2>
        <p>
          Reddy Ice is the largest manufacturer and distributor of packaged ice
          products in the United States—from bags of ice to block ice and cold
          storage. We are the branded leader, and we proudly offer the best
          selection of products and services available. Because of our
          exceptional products, customer service, and distribution options, we
          are a key ice supplier to thousands of major retail chains, regional
          outlets, and local mass merchandiser and club stores, exceptional
          prodsucts and services supplying supermarkets, grocers, convenience
          stores, drug stores, dollar stores and even non retail companies like
          airlines, construction services and catering and event services.
        </p>
        <v-btn elevation="6" large outlined tile>About us</v-btn>
      </div>
      <div class="worker-pic">
        <v-sheet color="white" elevation="7" height="100%" outlined width="50%"
          ><v-img
            src="https://www.reddyice.com/theme/frontend/images/about-img.jpg"
            max-width="50%"
          ></v-img
        ></v-sheet>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src:
            "https://www.reddyice.com/theme/frontend/images/our-services-banner.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
        },
        {
          src:
            "https://www.reddyice.com/theme/frontend/images/our-services-banner.jpg",
        },
      ],
    };
  },
};
</script>
<style>
.sec-upd {
  text-align: center;
  background-color: red;
  margin-top: 20px;
  padding-top: 20px;
}
.main-parent {
  border: 2px solid black;
  height: auto;
}
.child-1 {
  width: 100%;
}
.child-2 {
  width: 100%;
}
.sec-div-textarea {
  text-align: center;
}
</style>
