<template>
  <v-app id="app">
            <headerCom/>

  </v-app>
</template>

<script>
import headerCom from '@/layout/headerCom.vue'

export default {
  name: "app",
    computed: {
    layout () {
        return this.$route.meta.layout
    }
  },

  components: {
    headerCom
  },

  data: () => ({
    //
  })
};
</script>
