<template>
  <v-app>
    <v-app-bar class="app-header" app color="white" white>
      <v-row>
        <v-col cols="9">
          <span class="d-flex"  >
            <v-img
              alt="Vuetify Logo"
              class="shrink mr-2"
              contain
              src="../assets/logo.png"
              transition="scale-transition"
              width="50"
              @click="gotoHomePage"
            />
            <h1 @click="gotoHomePage">Hazara Ice</h1>
          </span>
        </v-col>
      </v-row>
      <div class="d-flex">
        <v-spacer></v-spacer>
        <div>
          <v-row>
            <v-col cols="12">
           <v-btn
                class="black--text"
                :to="{ name: 'Home' }"
                rounded
                text
                >Home
              </v-btn>
           <v-btn
                class="black--text"
                :to="{ name: 'Contactus' }"
                rounded
                text
                >Sea Food
              </v-btn>
              <v-btn class="black--text" :to="{ name: 'Gallery' }" rounded text
                >Gallery
              </v-btn>

               <v-btn class="align-stretch"  :to="{ name: 'About' }" rounded text
                >About
              </v-btn>
              <v-btn  color="white" class="black--text mr-3  red" :to="{ name: 'Location' }" rounded text
                >Find Location
              <v-img
              color="white"
              alt="Find Us"
              class="shrink"
              contain
              src="../assets/location.svg"
              transition="scale-transition"
              width="30"
            />
              
                  <!-- <v-icon
          dark
          right
        >
          mdi-checkbox-marked-circle
        </v-icon> -->
              </v-btn>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-app-bar>

    <v-main>
      <v-divider
        style="background-color: gray; opacity: 0.2 !important"
      ></v-divider>
      <router-view> </router-view>
    </v-main>
  </v-app>
  <!--   
        <v-container>
        <v-row>
        <v-col>
        <v-btn class="black--text" :to="{name: 'Contactus'}" rounded text>dContact us </v-btn>
        <v-btn class="black--text" :to="{name: 'Gallery'}" rounded text>Gallery us </v-btn>
        <v-btn class="black--text" :to="{name: 'Location'}" rounded text>Location us </v-btn>
        </v-col>
        </v-row>
        <v-main>
          <router-view> </router-view>
        </v-main>
        </v-container> -->
</template>

<script>
export default {
  name: "header",
  data() {
    return {
      title: "title Of Header",
    };
  },
  methods: {
    gotoHomePage() {
      this.$router.push({
        name: "Home",
      });
    },
  },
};
</script>
